@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #192f39;

    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1500px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.15);
}


/* ehnii nuuren taliiin css code*/
.container .left_Side {
    position: relative;
    background: #192f39;
    padding: 40px;
    border: 2px solid #52528a;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(224, 226, 235, 0.2);
}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;

}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 500;

}

.contactinfo {
    padding-top: 30px;
    color: #fff;
}

.title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactinfo ul {
    position: relative;
}

.contactinfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactinfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #315196;
}

.contactinfo ul li .text {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    font-size: 0.9em;
    font-weight: 400;
}

.contactinfo.eduction li {
    margin-bottom: 15px;

}

.contactinfo.education h5 {
    color: #2f7ab4;
    font-weight: 600;

}

.contactinfo.education h4 {
    color: #fff;
    font-weight: 500;

}

.contactinfo.lang .percent {
    position: relative;
    width: 100%;
    height: 5px;
    background: #000000;
    display: block;
    margin-top: 5px 0;

}

.contactinfo.lang .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #f2f3f5;

}




/* 2 dahi taliin csss*/



.container .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
    border: 2px solid #52528a;
    overflow-y: auto;
}

.about {
    margin: bottom 20px;
}

.about:last-child {
    margin-bottom: 23px;
}

.title2 {
    color: rgb(27, 75, 134);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-left: 1px;
}

p {
    color: rgb(36, 54, 54);
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 140px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #205ea9;
    font-weight: 800;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: #21518d;
    font: size 16px;
    ;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: rgb(239, 135, 0);
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #e6e6f3;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: hsl(222, 48%, 53%);
}

.hobby ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hobby ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.work-scroll {
    max-height: 420px;
    overflow: hidden;
}

.work-scroll-content {
    max-height: 350px;
    overflow-y: auto;
    padding-right: 10px;
}

.work-scroll-content::-webkit-scrollbar {
    width: 6px;
}

.work-scroll-content::-webkit-scrollbar-thumb {
    background: #1e5fa3;
    border-radius: 10px;
}